<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DayCareMvc</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidedrawer.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    @*<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">*@
</head>

<body>

    <header>
        <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 100%">
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight">
                    <div style="margin-top: -50px">Day Care</div>
                </div>
                <button type="button" class="btn btn-secondary"
                        style="margin-right: 10px;
                        height: 30px;
                        margin-top: 5px;
                        align-content: center;
                        text-align: center;
                        vertical-align: middle">
                    Refresh
                </button>

                <div class="vl"></div>

                <i class='fas fa-apple-alt' style='font-size:25px; color:gray; margin-top: 5px; margin-left: 5px'></i>
                <i class='fas fa-apple-alt' style='font-size:25px; color: gray; margin-top: 5px; margin-left: 5px'></i>
                <i class='fas fa-apple-alt' style='font-size:25px; color: gray; margin-top: 5px; margin-left: 5px'></i>
                <div class="p-2 bd-highlight">Logged in user</div>
                @*<partial name="_LoginPartial" />*@
            </div>
        </div>

            <!-- Sidebar -->
            <div class="sidebar-container shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: -100px; position: fixed">
                <div class="sidebar-logo">
                    Project Name
                </div>
                <ul class="sidebar-navigation">
                    <li class="header">Navigation</li>
                    <li>
                        <a href="#">
                            <i class="fa fa-home" aria-hidden="true"></i> Movies
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home" aria-hidden="true"></i> Series
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-home" aria-hidden="true"></i> Collections
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-home" aria-hidden="true"></i> Anime
                        </a>
                    </li>
                    @*<div style="display: flex"></div>*@
                    <li class="border-top footer text-muted navbar-dark" style="background-color: darkgrey; position: absolute; bottom: 0; left: 0; ">
            <div class="container" style="margin-left: 220px">
                &copy; 2021 - DayCareMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </li>
                    @*<li class="header">Another Menu</li>
        <li>
            <a href="#">
                <i class="fa fa-users" aria-hidden="true"></i> Friends
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-cog" aria-hidden="true"></i> Settings
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Information
            </a>
        </li>*@
                </ul>
            </div>
    </header>

    <div class="jumbotron" style="margin-top: -20px; margin-left: 240px; background-color: white; height: 90vh; display: flex;  margin-bottom: 20px ">
        <main role="main" class="pb-3" style="display: flex; background-color: white; ">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted navbar-dark" style="background-color: darkgrey;">
        <div class="container" style="margin-left: 220px">
            &copy; 2021 - DayCareMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
