@{
    ViewData["Title"] = "Home Page";

}

<head>
    <link rel="stylesheet" href="/css//dashboard.css" />
</head>

@*margin-top: -50px; margin-left: -20px;*@

<div class="container-fluid" style="align-content: center; margin-top: -60px;">

    <div style="display: flex; flex-wrap: wrap; /* for horizontal aligning of child divs */ justify-content: center; /* for vertical aligning */ align-items: center; ">
        <div class="flip-card" style="margin-right: 10px">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div style="background-color: blue; width: 100%; height: 100%; ">
                        <div style=" float: left; background-color: red; width: 20%; height: 100%; "></div>
                        <div style="background-color: yellow; width: 100%; height: 100%; "></div>

                    </div>
                </div>
                <div class="flip-card-back">
                    <h1>John Doe</h1>
                </div>
            </div>
        </div>

        <div class="flip-card" style="margin-right: 10px">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div style="background-color: blue; width: 100%; height: 100%; ">
                        <div style=" float: left; background-color: red; width: 20%; height: 100%; "></div>
                        <div style="background-color: yellow; width: 100%; height: 100%; "></div>

                    </div>
                </div>
                <div class="flip-card-back">
                    <h1>John Doe</h1>
                </div>
            </div>
        </div>
        <div class="flip-card" style="margin-right: 10px">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div style="background-color: blue; width: 100%; height: 100%; ">
                        <div style=" float: left; background-color: red; width: 20%; height: 100%; "></div>
                        <div style="background-color: yellow; width: 100%; height: 100%; "></div>

                    </div>
                </div>
                <div class="flip-card-back">
                    <h1>John Doe</h1>
                </div>
            </div>
        </div>
        <div class="flip-card" style="margin-right: 10px">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div style="background-color: blue; width: 100%; height: 100%; ">
                        <div style=" float: left; background-color: red; width: 20%; height: 100%; "></div>
                        <div style="background-color: yellow; width: 100%; height: 100%; "></div>

                    </div>
                </div>
                <div class="flip-card-back">
                    <h1>John Doe</h1>
                </div>
            </div>
        </div>
        <div class="flip-card" style="margin-right: 10px">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div style="background-color: blue; width: 100%; height: 100%; ">
                        <div style=" float: left; background-color: red; width: 20%; height: 100%; "></div>
                        <div style="background-color: yellow; width: 100%; height: 100%; "></div>

                    </div>
                </div>
                <div class="flip-card-back">
                    <h1>John Doe</h1>
                </div>
            </div>
        </div>
        <div class="flip-card" style="margin-right: 10px">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div style="background-color: blue; width: 100%; height: 100%; ">
                        <div style=" float: left; background-color: red; width: 20%; height: 100%; "></div>
                        <div style="background-color: yellow; width: 100%; height: 100%; "></div>

                    </div>
                </div>
                <div class="flip-card-back">
                    <h1>John Doe</h1>
                </div>
            </div>
        </div>


    </div>


</div>